.vs/
**/x64/
**/Debug/
**/Release/
**/RefactorCheck/
**/work/
**/$db.*
**/*.obj
*.user
*.suo
*.pdb
*.ilk
*.iobj
*.ipdb
*.log
*.marker
**/.env
**/.env.local
**/.env.production
**/work/*.dll
**/work/*.id0
**/work/*.id1
**/work/*.id2
**/work/*.nam
**/work/*.til
**/work/*.i64
**/work/*.idb
**/work/heap_regions.txt
