#include "launcher_resource.h"

IDI_AXIOM_ICON ICON "assets\\axiom.ico"
IDR_AXIOM_LOGO RCDATA "assets\\deadlock_logo_exact.png"
IDR_AXIOM_BACKGROUND RCDATA "assets\\axiom-background.png"
#ifdef AXIOM_OFFLINE_TEST_MODE
IDR_AXIOM_MODULE RCDATA "x64\\Release\\Dll6.dll"
#endif
