#include "resource.h"

IDR_DEADLOCK_LOGO RCDATA "assets\\deadlock_logo_exact.png"
IDR_ICON_EYE RCDATA "assets\\icons\\eye.png"
IDR_ICON_CROSSHAIR RCDATA "assets\\icons\\crosshair.png"
IDR_ICON_SPROUT RCDATA "assets\\icons\\sprout.png"
IDR_ICON_SETTINGS RCDATA "assets\\icons\\settings.png"
IDR_RADAR_MINIMAP_STYLE RCDATA "assets\\radar\\hud_minimap.vcss_c"
108 RCDATA "assets\\abilities\\infernus\\ability_incendiary_projectile.png"
109 RCDATA "assets\\abilities\\infernus\\ability_flame_dash.png"
110 RCDATA "assets\\abilities\\infernus\\ability_afterburn.png"
111 RCDATA "assets\\abilities\\infernus\\ability_fire_bomb.png"
112 RCDATA "assets\\abilities\\seven\\citadel_ability_lightning_ball.png"
113 RCDATA "assets\\abilities\\seven\\citadel_ability_static_charge.png"
114 RCDATA "assets\\abilities\\seven\\ability_power_surge.png"
115 RCDATA "assets\\abilities\\seven\\citadel_ability_storm_cloud.png"
116 RCDATA "assets\\abilities\\vindicta\\citadel_ability_hornet_chain.png"
117 RCDATA "assets\\abilities\\vindicta\\citadel_ability_hornet_leap.png"
118 RCDATA "assets\\abilities\\vindicta\\citadel_ability_hornet_sting.png"
119 RCDATA "assets\\abilities\\vindicta\\citadel_ability_hornet_snipe.png"
120 RCDATA "assets\\abilities\\lady_geist\\ability_blood_bomb.png"
121 RCDATA "assets\\abilities\\lady_geist\\ability_life_drain.png"
122 RCDATA "assets\\abilities\\lady_geist\\ability_blood_shards.png"
123 RCDATA "assets\\abilities\\lady_geist\\ability_health_swap.png"
124 RCDATA "assets\\abilities\\abrams\\citadel_ability_bull_heal.png"
125 RCDATA "assets\\abilities\\abrams\\citadel_ability_bull_charge.png"
126 RCDATA "assets\\abilities\\abrams\\citadel_ability_passive_beefy.png"
127 RCDATA "assets\\abilities\\abrams\\citadel_ability_bull_leap.png"
128 RCDATA "assets\\abilities\\wraith\\citadel_ability_card_toss.png"
129 RCDATA "assets\\abilities\\wraith\\citadel_ability_projectmind.png"
130 RCDATA "assets\\abilities\\wraith\\citadel_ability_wraith_rapidfire.png"
131 RCDATA "assets\\abilities\\wraith\\citadel_ability_psychic_lift.png"
132 RCDATA "assets\\abilities\\mcginnis\\citadel_ability_shieldedsentry.png"
133 RCDATA "assets\\abilities\\mcginnis\\citadel_ability_mobile_resupply.png"
134 RCDATA "assets\\abilities\\mcginnis\\citadel_ability_fissure_wall.png"
135 RCDATA "assets\\abilities\\mcginnis\\citadel_ability_rocket_barrage.png"
136 RCDATA "assets\\abilities\\paradox\\citadel_ability_chrono_pulse_grenade.png"
137 RCDATA "assets\\abilities\\paradox\\citadel_ability_chrono_time_wall.png"
138 RCDATA "assets\\abilities\\paradox\\citadel_ability_chrono_kinetic_carbine.png"
139 RCDATA "assets\\abilities\\paradox\\citadel_ability_chrono_swap.png"
140 RCDATA "assets\\abilities\\dynamo\\citadel_ability_stomp.png"
141 RCDATA "assets\\abilities\\dynamo\\citadel_ability_void_sphere.png"
142 RCDATA "assets\\abilities\\dynamo\\citadel_ability_nikuman.png"
143 RCDATA "assets\\abilities\\dynamo\\citadel_ability_self_vacuum.png"
144 RCDATA "assets\\abilities\\kelvin\\ability_ice_grenade.png"
145 RCDATA "assets\\abilities\\kelvin\\ability_icepath.png"
146 RCDATA "assets\\abilities\\kelvin\\ability_icebeam.png"
147 RCDATA "assets\\abilities\\kelvin\\ability_ice_dome.png"
148 RCDATA "assets\\abilities\\haze\\ability_sleep_dagger.png"
149 RCDATA "assets\\abilities\\haze\\ability_smoke_bomb.png"
150 RCDATA "assets\\abilities\\haze\\ability_stacking_damage.png"
151 RCDATA "assets\\abilities\\haze\\ability_bullet_flurry.png"
152 RCDATA "assets\\abilities\\holliday\\ability_explosive_barrel.png"
153 RCDATA "assets\\abilities\\holliday\\ability_bounce_pad.png"
154 RCDATA "assets\\abilities\\holliday\\ability_crackshot.png"
155 RCDATA "assets\\abilities\\holliday\\ability_gravity_lasso.png"
156 RCDATA "assets\\abilities\\bebop\\citadel_ability_uppercut.png"
157 RCDATA "assets\\abilities\\bebop\\citadel_ability_sticky_bomb.png"
158 RCDATA "assets\\abilities\\bebop\\citadel_ability_hook.png"
159 RCDATA "assets\\abilities\\bebop\\citadel_ability_bebop_laser_beam.png"
160 RCDATA "assets\\abilities\\calico\\ability_nano_clustergrenade.png"
161 RCDATA "assets\\abilities\\calico\\ability_nano_dash.png"
162 RCDATA "assets\\abilities\\calico\\ability_nano_catform.png"
163 RCDATA "assets\\abilities\\calico\\ability_nano_shadow_pulse.png"
164 RCDATA "assets\\abilities\\grey_talon\\ability_charged_shot.png"
165 RCDATA "assets\\abilities\\grey_talon\\ability_power_jump.png"
166 RCDATA "assets\\abilities\\grey_talon\\ability_immobilize_trap.png"
167 RCDATA "assets\\abilities\\grey_talon\\ability_guided_arrow.png"
168 RCDATA "assets\\abilities\\mo_krill\\ability_intimidate.png"
169 RCDATA "assets\\abilities\\mo_krill\\ability_burrow.png"
170 RCDATA "assets\\abilities\\mo_krill\\ability_throw_sand.png"
171 RCDATA "assets\\abilities\\mo_krill\\ability_ult_combo.png"
172 RCDATA "assets\\abilities\\shiv\\citadel_ability_shiv_dagger.png"
173 RCDATA "assets\\abilities\\shiv\\citadel_ability_shiv_dash.png"
174 RCDATA "assets\\abilities\\shiv\\citadel_ability_shiv_defer_damage.png"
175 RCDATA "assets\\abilities\\shiv\\citadel_ability_shiv_killing_blow.png"
176 RCDATA "assets\\abilities\\ivy\\citadel_ability_tengu_urn.png"
177 RCDATA "assets\\abilities\\ivy\\citadel_ability_tangotether.png"
178 RCDATA "assets\\abilities\\ivy\\citadel_ability_tengu_stone_form.png"
179 RCDATA "assets\\abilities\\ivy\\citadel_ability_tengu_airlift.png"
180 RCDATA "assets\\abilities\\warden\\ability_warden_crowd_control.png"
181 RCDATA "assets\\abilities\\warden\\ability_warden_high_alert.png"
182 RCDATA "assets\\abilities\\warden\\ability_warden_lock_down.png"
183 RCDATA "assets\\abilities\\warden\\ability_warden_riot_protocol.png"
184 RCDATA "assets\\abilities\\yamato\\citadel_ability_power_slash.png"
185 RCDATA "assets\\abilities\\yamato\\citadel_ability_flying_strike.png"
186 RCDATA "assets\\abilities\\yamato\\citadel_ability_healing_slash.png"
187 RCDATA "assets\\abilities\\yamato\\citadel_ability_infinity_slash.png"
188 RCDATA "assets\\abilities\\lash\\citadel_ability_lash_down_strike.png"
189 RCDATA "assets\\abilities\\lash\\citadel_ability_lash.png"
190 RCDATA "assets\\abilities\\lash\\ability_lash_flog.png"
191 RCDATA "assets\\abilities\\lash\\citadel_ability_lash_ultimate.png"
192 RCDATA "assets\\abilities\\viscous\\viscous_goo_grenade.png"
193 RCDATA "assets\\abilities\\viscous\\viscous_restorative_goo.png"
194 RCDATA "assets\\abilities\\viscous\\viscous_telepunch.png"
195 RCDATA "assets\\abilities\\viscous\\viscous_goo_bowling_ball.png"
196 RCDATA "assets\\abilities\\pocket\\synth_barrage.png"
197 RCDATA "assets\\abilities\\pocket\\synth_plasma_flux.png"
198 RCDATA "assets\\abilities\\pocket\\synth_pulse.png"
199 RCDATA "assets\\abilities\\pocket\\synth_affliction.png"
200 RCDATA "assets\\abilities\\mirage\\mirage_fire_beetles.png"
201 RCDATA "assets\\abilities\\mirage\\mirage_tornado.png"
202 RCDATA "assets\\abilities\\mirage\\mirage_sand_phantom.png"
203 RCDATA "assets\\abilities\\mirage\\mirage_teleport.png"
204 RCDATA "assets\\abilities\\vyper\\ability_viper_debuffdagger.png"
205 RCDATA "assets\\abilities\\vyper\\ability_viper_venom.png"
206 RCDATA "assets\\abilities\\vyper\\ability_viper_snakedash.png"
207 RCDATA "assets\\abilities\\vyper\\ability_viper_petrifybola.png"
208 RCDATA "assets\\abilities\\sinclair\\ability_magician_magicbolt.png"
209 RCDATA "assets\\abilities\\sinclair\\ability_magician_cloneturret.png"
210 RCDATA "assets\\abilities\\sinclair\\ability_magician_animalhexarea.png"
211 RCDATA "assets\\abilities\\sinclair\\ability_magician_copyult.png"
212 RCDATA "assets\\abilities\\mina\\ability_vampirebat_steallife.png"
213 RCDATA "assets\\abilities\\mina\\ability_vampirebat_batblink.png"
214 RCDATA "assets\\abilities\\mina\\ability_vampirebat_lovebites.png"
215 RCDATA "assets\\abilities\\mina\\ability_vampirebat_batswarm.png"
216 RCDATA "assets\\abilities\\drifter\\drifter_blood_blast.png"
217 RCDATA "assets\\abilities\\drifter\\drifter_shadow_mark.png"
218 RCDATA "assets\\abilities\\drifter\\ability_drifter_hunger.png"
219 RCDATA "assets\\abilities\\drifter\\drifter_darkness.png"
220 RCDATA "assets\\abilities\\venator\\ability_priest_flashbang.png"
221 RCDATA "assets\\abilities\\venator\\ability_priest_knockback.png"
222 RCDATA "assets\\abilities\\venator\\ability_priest_beartrap.png"
223 RCDATA "assets\\abilities\\venator\\ability_priest_weaponswap.png"
224 RCDATA "assets\\abilities\\victor\\ability_frank_shocktarget2.png"
225 RCDATA "assets\\abilities\\victor\\ability_frank_selfzap.png"
226 RCDATA "assets\\abilities\\victor\\ability_frank_painaura.png"
227 RCDATA "assets\\abilities\\victor\\ability_frank_revive.png"
228 RCDATA "assets\\abilities\\paige\\ability_bookworm_dragonfire.png"
229 RCDATA "assets\\abilities\\paige\\ability_bookworm_knightbarrier.png"
230 RCDATA "assets\\abilities\\paige\\ability_bookworm_aoemagic.png"
231 RCDATA "assets\\abilities\\paige\\ability_bookworm_knightcharge.png"
232 RCDATA "assets\\abilities\\the_doorman\\ability_doorman_bomb.png"
233 RCDATA "assets\\abilities\\the_doorman\\ability_doorman_doorway.png"
234 RCDATA "assets\\abilities\\the_doorman\\ability_doorman_luggage_cart.png"
235 RCDATA "assets\\abilities\\the_doorman\\ability_doorman_hotel.png"
236 RCDATA "assets\\abilities\\billy\\ability_punkgoat_ult.png"
237 RCDATA "assets\\abilities\\billy\\ability_punkgoat_goatflip.png"
238 RCDATA "assets\\abilities\\billy\\ability_punkgoat_blasted.png"
239 RCDATA "assets\\abilities\\billy\\ability_punkgoat_tether.png"
240 RCDATA "assets\\abilities\\graves\\ability_necro_hauntingskull.png"
241 RCDATA "assets\\abilities\\graves\\ability_necro_zombiewall.png"
242 RCDATA "assets\\abilities\\graves\\ability_necro_fear.png"
243 RCDATA "assets\\abilities\\graves\\ability_necro_gravestone.png"
244 RCDATA "assets\\abilities\\apollo\\ability_fencer_throwblade.png"
245 RCDATA "assets\\abilities\\apollo\\ability_fencer_riposte.png"
246 RCDATA "assets\\abilities\\apollo\\ability_fencer_lunge.png"
247 RCDATA "assets\\abilities\\apollo\\ability_fencer_ultimate.png"
248 RCDATA "assets\\abilities\\rem\\ability_familiar_ability02.png"
249 RCDATA "assets\\abilities\\rem\\ability_familiar_attach.png"
250 RCDATA "assets\\abilities\\rem\\ability_familiar_helpinghands.png"
251 RCDATA "assets\\abilities\\rem\\ability_familiar_ability01.png"
252 RCDATA "assets\\abilities\\silver\\ability_werewolf_unloadgun.png"
253 RCDATA "assets\\abilities\\silver\\ability_werewolf_kickflip.png"
254 RCDATA "assets\\abilities\\silver\\ability_werewolf_netshot.png"
255 RCDATA "assets\\abilities\\silver\\ability_werewolf_transformation.png"
256 RCDATA "assets\\abilities\\celeste\\ability_unicorn_radiantblast.png"
257 RCDATA "assets\\abilities\\celeste\\ability_unicorn_prismaticguard.png"
258 RCDATA "assets\\abilities\\celeste\\ability_unicorn_luminousstrike.png"
259 RCDATA "assets\\abilities\\celeste\\ability_unicorn_dazzlingorb.png"
300 RCDATA "assets\\portraits\\hero_1.png"
301 RCDATA "assets\\portraits\\hero_2.png"
302 RCDATA "assets\\portraits\\hero_3.png"
303 RCDATA "assets\\portraits\\hero_4.png"
304 RCDATA "assets\\portraits\\hero_6.png"
305 RCDATA "assets\\portraits\\hero_7.png"
306 RCDATA "assets\\portraits\\hero_8.png"
307 RCDATA "assets\\portraits\\hero_10.png"
308 RCDATA "assets\\portraits\\hero_11.png"
309 RCDATA "assets\\portraits\\hero_12.png"
310 RCDATA "assets\\portraits\\hero_13.png"
311 RCDATA "assets\\portraits\\hero_14.png"
312 RCDATA "assets\\portraits\\hero_15.png"
313 RCDATA "assets\\portraits\\hero_16.png"
314 RCDATA "assets\\portraits\\hero_17.png"
315 RCDATA "assets\\portraits\\hero_18.png"
316 RCDATA "assets\\portraits\\hero_19.png"
317 RCDATA "assets\\portraits\\hero_20.png"
318 RCDATA "assets\\portraits\\hero_25.png"
319 RCDATA "assets\\portraits\\hero_27.png"
320 RCDATA "assets\\portraits\\hero_31.png"
321 RCDATA "assets\\portraits\\hero_35.png"
322 RCDATA "assets\\portraits\\hero_50.png"
323 RCDATA "assets\\portraits\\hero_52.png"
324 RCDATA "assets\\portraits\\hero_58.png"
325 RCDATA "assets\\portraits\\hero_60.png"
326 RCDATA "assets\\portraits\\hero_63.png"
327 RCDATA "assets\\portraits\\hero_64.png"
328 RCDATA "assets\\portraits\\hero_65.png"
329 RCDATA "assets\\portraits\\hero_66.png"
330 RCDATA "assets\\portraits\\hero_67.png"
331 RCDATA "assets\\portraits\\hero_69.png"
332 RCDATA "assets\\portraits\\hero_72.png"
333 RCDATA "assets\\portraits\\hero_76.png"
334 RCDATA "assets\\portraits\\hero_77.png"
335 RCDATA "assets\\portraits\\hero_79.png"
336 RCDATA "assets\\portraits\\hero_80.png"
337 RCDATA "assets\\portraits\\hero_81.png"
